body {
    background-color: rgb(6, 15, 116);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}
form {
    font-family: 'Ysabeau SC', sans-serif;
    background-color: blueviolet;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}
form input{
    background-color: blueviolet;
    color: whitesmoke;
    border: none;
    outline: none;
    padding: 5px 10px;
    flex-grow: 1;
    flex-basis: 200px;
}

form button {
    background-color: aquamarine;
    border: none;
    flex-grow: 1;
    flex-basis: 100px;

}
